<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.MainActivity" />
        </activity>
        <activity
            android:name=".MyActionBarActivity"
            android:label="我的Activity"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".ListView_Adapter"
            android:label="@string/title_activity_list_view__adapter" >
        </activity>
        <activity
            android:name=".CustomTitleBarActivity"
            android:label="@string/title_activity_custom_title_bar" >
        </activity>
        <activity
            android:name=".HandlerActivity"
            android:label="@string/title_activity_handler" >
        </activity>
        <activity
            android:name=".HttpClientActivity"
            android:label="@string/title_activity_http_client" >
        </activity>
        <activity
            android:name=".ParseXML"
            android:label="@string/title_activity_parse_xml" >
        </activity>
        <activity
            android:name=".SideBarTest"
            android:label="@string/title_activity_side_bar_test" >
        </activity>
        <activity
            android:name=".Switchfragment"
            android:label="碎片管理" >
        </activity>
        <activity
            android:name=".SlidingMenuDemo"
            android:label="@string/title_activity_sliding_menu" >
        </activity>
        <activity
            android:name=".ViewBadgerTest"
            android:label="@string/title_activity_view_badger_test" >
        </activity>
        <activity
            android:name=".ListFragmentDemo"
            android:label="@string/title_activity_list_fragment_demo" >
        </activity>
        <activity
            android:name=".TransitionActivity"
            android:label="@string/title_activity_transition" >
        </activity>
        <activity
            android:name=".TransitionNextActivity"
            android:label="@string/title_activity_transition_next" >
        </activity>
        <activity
            android:name=".CameraShow"
            android:configChanges="orientation"
            android:label="@string/title_activity_camera_show"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoadMyDevicePhoto"
            android:label="@string/title_activity_load_my_device_photo" >
        </activity>
        <activity
            android:name=".Loadmore"
            android:label="@string/title_activity_loadmore" >
        </activity>
        <activity
            android:name=".ListMoreTest"
            android:label="@string/title_activity_list_more_test" >
        </activity>
        <activity
            android:name=".Thumbnail"
            android:label="@string/title_activity_thumbnail" >
        </activity>
    </application>

</manifest>