<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beta.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 以下为必须的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService.com.beta.main"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme"
        android:name="com.beta.jiazhuang.mybase.MyBaseApplication" >

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="gzOY0b4WLI8bR9ZLLAzxp9" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="phi7zLRu6j5knFz3yszag4" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="ksXd1ITmwV9XCJ3OoYogd6" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.gzOY0b4WLI8bR9ZLLAzxp9" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.beta.main"
            android:process=":pushservice" />
        <!-- android:authorities="downloads.第三方包名" -->
        <!-- ====================================================== -->

        <activity
            android:name="com.beta.jiazhuang.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.FlowActivity"
            android:label="@string/title_activity_next"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="backup.LjljActivity"
            android:label="@string/title_activity_ljlj"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="backup.ListViewDetailActivity"
            android:label="设计师详细页"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.WhatsnewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.UserinfoActivity"
            android:label="@string/title_activity_userinfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.MediaRecordTest"
            android:label="@string/title_activity_media_record_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.Html5Activity"
            android:label="@string/title_activity_html5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.PasswdResetActivity"
            android:label="@string/title_activity_passwd_reset"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.PasswdChangeActivity"
            android:label="@string/title_activity_passwd_change"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.UserCollectActivity"
            android:label="@string/title_activity_user_collect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.PasswdChangeSuccessActivity"
            android:label="@string/title_activity_forget_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.PrivacyActivity"
            android:label="@string/title_activity_privacy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.SMSAuthCodeActivity"
            android:label="@string/title_activity_smsauth_code"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beta.jiazhuang.main.FriendListActivity"
            android:label="@string/title_activity_friend_list"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>