<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.main.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.main.test.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.MainActivity" />
        </activity>
        <activity
            android:name="com.main.test.MyActionBarActivity"
            android:label="我的Activity"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.main.test.ListView_Adapter"
            android:label="@string/title_activity_list_view__adapter" >
        </activity>
        <activity
            android:name="com.main.test.CustomTitleBarActivity"
            android:label="@string/title_activity_custom_title_bar" >
        </activity>
        <activity
            android:name="com.main.test.HandlerActivity"
            android:label="@string/title_activity_handler" >
        </activity>
        <activity
            android:name="com.main.test.HttpClientActivity"
            android:label="@string/title_activity_http_client" >
        </activity>
        <activity
            android:name="com.main.test.ParseXML"
            android:label="@string/title_activity_parse_xml" >
        </activity>
        <activity
            android:name="com.main.test.SideBarTest"
            android:label="@string/title_activity_side_bar_test" >
        </activity>
        <activity
            android:name="com.main.test.Switchfragment"
            android:label="碎片管理" >
        </activity>
        <activity
            android:name="com.main.test.SlidingMenuDemo"
            android:label="@string/title_activity_sliding_menu" >
        </activity>
        <activity
            android:name="com.main.test.ViewBadgerTest"
            android:label="@string/title_activity_view_badger_test" >
        </activity>
        <activity
            android:name="com.main.test.ListFragmentDemo"
            android:label="@string/title_activity_list_fragment_demo" >
        </activity>
        <activity
            android:name="com.main.test.TransitionActivity"
            android:label="@string/title_activity_transition" >
        </activity>
        <activity
            android:name="com.main.test.TransitionNextActivity"
            android:label="@string/title_activity_transition_next" >
        </activity>
        <activity
            android:name="com.main.test.CameraShow"
            android:configChanges="orientation"
            android:label="@string/title_activity_camera_show"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.main.test.LoadMyDevicePhoto"
            android:label="@string/title_activity_load_my_device_photo" >
        </activity>
        <activity
            android:name="com.main.test.Loadmore"
            android:label="@string/title_activity_loadmore" >
        </activity>
        <activity
            android:name="com.main.test.ListMoreTest"
            android:label="@string/title_activity_list_more_test" >
        </activity>
        <activity
            android:name="com.main.test.Thumbnail"
            android:label="@string/title_activity_thumbnail" >
        </activity>
        <activity
            android:name="com.main.test.SendVoice"
            android:allowBackup="true"
            android:label="@string/title_activity_send_voice" >
        </activity>
        <activity
            android:name="com.main.test.PanelBottom"
            android:label="@string/title_activity_sliding_drawer" >
        </activity>
        <activity
            android:name="com.main.test.PullUpActivity"
            android:label="@string/title_activity_pull_up" >
        </activity>
        <activity
            android:name="com.main.test.GridViewDemo"
            android:label="@string/title_activity_grid_view_demo" >
        </activity>
        <activity
            android:name="com.main.test.IntentDemoActivity"
            android:label="@string/title_activity_intent_demo" >
        </activity>
        <activity
            android:name="com.main.test.CameraAndAlbumTest"
            android:label="@string/title_activity_camera_and_album_test" >
        </activity>
        <activity
            android:name="com.main.test.TimerTaskDemo"
            android:label="@string/title_activity_timer_task_demo" >
        </activity>
    </application>

</manifest>